<h6><%= form_for([@question, @question.answers.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br />
    <%= f.text_field :answerer %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</h6>
