
<%if "Question" == answer.container_type %>
<p>
  <strong>Answer:</strong>
  <%= answer.body %>
</p>

 <p>
  <strong>From:</strong>
  <%= answer.username %>
</p>

<p>
  Answered on:
  <%= answer.created_at %>
</p>
<% @answer = answer%>
<%= form_tag [@question, answer], :method => 'get' do %>
  <div >
  <% if -1 < answer.user_vote(@current_user) %>
    <%= submit_tag "Downvote", :name => "vote"  %>
  <% end %>

    Vote: <%= answer.total_votes %>

    <% if 1 > answer.user_vote(@current_user) %>
      <%= submit_tag "Upvote", :name => "vote"  %>
    <% end %>
  </div>
<% end %>
<h7>
<h6><i><%=pluralize(answer.comments.count, "Comment")%></h2>
<%= render @answer.comments %>
<br / >



Add comment:</i></h6>
<%= render "comments/form" %>
</h6>
<p>
<% if (answer.username == @current_user || @question.username == @current_user) %> 
  <%= link_to 'Destroy Answer', [@question, answer],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
<% end %>
</p>
<hr/>
<% else %>
<h6><p>
  <strong>Comment:</strong>
  <%= answer.body %>
</p>
<p>
  <strong>Commented By:</strong>
  <%= answer.username %>
</p>

<p>
 </strong> Commented on:</strong>
  <%= answer.created_at %>
</p></h6>
<% end %>